
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /courses/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'yassenhassouna39@gmail.com';
    }
    match /{allPaths=**} {
      allow read: if true;
    }
  }
}
